.carousel .slide .legend {
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  left: 115%;
  width: 30%;
  border-radius: 0;
  background: #ff8008; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 1;
  transition: none;
}
.carousel .slide .legend h1 {
  margin-top: 6rem;
  vertical-align: middle;
}
